@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ff6485;
}

.person {
  width: 100%;
  position: relative;
  display: block;
}

p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 10px 17px;
  font-size: 16px;
  color: #fff;
}

.name {
  font-family: 'Yesteryear', cursive;
  font-size: 70px;
  color: #ff6485;
  margin: 0;
  position: absolute;
  top: 2.8em;
  right: 0.8em;
  display: block;
  text-shadow: 3px 3px #FFF;
}



@media only screen and (min-width: 25em) {

  .name {
    font-size: 105px;
    top: 3em;
    right: 0.8em;
}

  p {
    padding: 30px;
  }

.instagram {
  width: 33.33%;
  float: left;
  padding-right: 10px;
}

.twitter {
  width: 33.33%;
  float: left;
  padding-right: 10px;
}

.email {
  width: 33.33%;
  float: left;
  padding-right: 10px;
}

.social {
  display: inline-block;
  margin: 0 6em;
}

}

@media only screen and (min-width: 35em) {

  .name {
    font-size: 175px;
    top: 2.2em;
    right: 0.5em;
    display: block;
  }

  .person {
    margin-top: -1em;
  }

  p {
    font-size: 17px;
    padding: 20px 85px;
  }


  .instagram {
    padding-right: 30px;
  }

  .twitter {
    padding-right: 30px;
  }

  .email {
    padding-right: 30px;
  }

  .social {
    margin: 0 8em
  }

}

@media only screen and (min-width: 50em){

  .name {
    font-size: 255px;
    top: 2em;
    right: 0.5em;
  }

  p {
    padding: 20px 130px;
  }

  .social {
    margin: 0 18em;
  }

}

@media only screen and (min-width: 60em){

  .name {
    font-size: 350px;
    top: 1.4em;
    right: 1em;
  }

  .person {
    margin-top: -13em;
  }

.cut {
  max-height: 900px;
  overflow: hidden;
}

  p {
    padding: 20px 280px;
  }

  .social {
    margin: 0 33em;
  }



}
