@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ff6485;
}

.person {
  width: 100%;
  position: relative;
  display: block;
}

p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
}

.name {
  font-family: 'Yesteryear', cursive;
  font-size: 70px;
  color: #ff6485;
  margin: 0;
  position: absolute;
  top: 2.5em;
  right: 0.3em;
  display: block;
  text-shadow: 3px 3px #FFF;
}

.email {
  width: 33.3%;
  float: left;
  padding: 5px;
}

.instagram {
  width: 33.3%;
  float: left;
  padding: 5px;
}

.twitter {
  width: 33.3%;
  float: left;
  padding: 5px;
}

.social {
  text-align: center;
  padding: 10px 10px 0 10px;
  overflow: hidden;
}

@media only screen and (min-width: 25em) {

  .name {
    font-size: 110px;
    top: 1.6em;
    right: 0.2em;
  }

  .cut {
    max-height: 400px;
    overflow: hidden;
  }

  .person {
   margin-top: -1.5em;
 }

  .wrapper {
    padding: 1em;
 }

  .email {
    width: 25%;
    padding-left: 15px;
  }

  .instagram {
    width: 25%;
    padding-left: 15px;
  }

  .twitter {
    width: 25%;
    padding-left: 15px;
  }

  .social {
    padding-left: 60px;
   }

}

@media only screen and (min-width: 35em) {

  .name {
    font-size: 130px;
    top: 1.4em;
  }

  .person {
    margin-top: -3em;
  }

  .cut {
    max-height: 450px;
  }

  p {
    font-size: 17px;
  }

  .wrapper {
    padding: 0 2em 1em;
 }

  .social {
    padding-left: 100px;
   }

}

@media only screen and (min-width: 46em){

  .name {
    font-size: 150px;
    top: 1.2em;
  }

  .person {
    margin-top: -6em;
  }

  .cut {
    max-height: 450px;
    overflow: hidden;
  }

  p {
    padding-left: 45px;
    padding-right: 45px;
  }

  .social {
    padding-left: 150px;
   }

}

@media only screen and (min-width: 54em){

  .person {
    margin-top: -9em;
  }

  .cut {
    max-height: 500px;
  }

  .instagram {
    width: 20%;
  }
  .twitter{
    width: 20%;
  }
  .email {
    width: 20%;
  }

}



@media only screen and (min-width: 60em){

  .name {
    font-size: 190px;
    top: 0.9em;
  }

  p {
    font-size: 19px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .person {
    margin-top: -10rem;
  }

  .social {
   padding-left: 280px;
  }
}

@media only screen and (min-width: 72em){

  .name {
    font-size: 240px;
    top: 0.6em;
  }
  .cut {
    max-height: 480px;
 }
  .person {
    margin-top: -10rem;
  }

  p {
    padding-left: 100px;
    padding-right: 100px;
  }

  .social {
   padding-left: 380px;
  }
}


@media print {
  .person{
    display: none;
  }

 .name {
   display: none;
 }

   .email {
     width: 10%;
   }

   .instagram {
     width: 10%;
   }

   .twitter {
     width: 10%;
   }

   main a::after {
      content: " (" attr(href) ")";
    }
}
