@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ff6485;
}

.person {
  width: 100%;
  position: relative;
  display: block;
}

p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
}

.name {
  font-family: 'Yesteryear', cursive;
  font-size: 70px;
  color: #ff6485;
  margin: 0;
  position: absolute;
  top: 2.8em;
  right: 0.8em;
  display: block;
  text-shadow: 3px 3px #FFF;
}

.email {
  width: 33.3%;
  float: left;
}

.instagram {
  width: 33.3%;
  float: left;
}

.twitter {
  width: 33.3%;
  float: left;
}

.social {
  text-align: center;
  padding: 10px 10px 0 10px;
  overflow: hidden;
}

@media only screen and (min-width: 25em) {

  .name {
    font-size: 125px;
    top: 1em;
    right: 0.3em;
  }

  .cut {
    max-height: 600px;
    overflow: hidden;
  }

  .person {
   margin-top: -1.5em;
 }

  .wrapper {
    padding: 1em;
 }

  .email {
    width: 25%;
    padding-left: 10px;
  }

  .instagram {
    width: 25%;
    padding-left: 10px;
  }

  .twitter {
    width: 25%;
    padding-left: 10px;
  }

  .social {
    padding-left: 60px;
    padding-bottom: 20px;
   }


}

@media only screen and (min-width: 35em) {

  .name {
    font-size: 160px;
  }

  .person {
    margin-top: -1em;
  }

  p {
    font-size: 17px;
  }

  .social {
    padding-left: 100px;
    padding-bottom: 20px;
   }

}

@media only screen and (min-width: 46em){

  .person {
    margin-top: -4em;
  }

  .cut {
    max-height: 600px;
    overflow: hidden;
  }

  p {
    padding: 0 45px;
  }

  .email {
    width: 15%;
  }

  .instagram {
    width: 15%;
  }

  .twitter {
    width: 15%;
  }

  .social {
    padding-top: 20px;
    padding-left: 250px;
   }

}


@media only screen and (min-width: 50em){

  .name {
    font-size: 225px;
    top: 0.5em;
    right: 0.2em;
  }

  p {
    font-size: 17px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .person {
    margin-top: -4em;
  }

  .cut {
    max-height: 570px;
    overflow: hidden;
  }

  .email {
    padding-left: 20px;
  }

  .instagram {
    padding-left: 20px;
  }

  .twitter {
    padding-left: 20px;
  }

  .social {
    padding-left: 270px;
   }

}


@media only screen and (min-width: 60em){

  .name {
    font-size: 350px;
    top: 0.3em;
  }

  p {
    font-size: 19px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .person {
    margin-top: -6em;
  }

  .cut {
    max-height: 800px;
    overflow: hidden;
 }

 .social {
   padding-left: 450px;
  }
}

@media print {
  .person{
    display: none;
  }
}
