@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ff6485;
}

.person {
  width: 100%;
  position: relative;
  display: block;
}

p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
}

.name {
  font-family: 'Yesteryear', cursive;
  font-size: 70px;
  color: #ff6485;
  margin: 0;
  position: absolute;
  top: 2.8em;
  right: 0.8em;
  display: block;
  text-shadow: 3px 3px #FFF;
}

.email {
  width: 33.3%;
  float: left;
}

.instagram {
  width: 33.3%;
  float: left;
}

.twitter {
  width: 33.3%;
  float: left;
}

.social {
  text-align: center;
  padding: 10px 10px 0 10px;
  overflow: hidden;
}

@media only screen and (min-width: 25em) {

  .name {
    font-size: 110px;
    top: 1.6em;
    right: 0.2em;
  }

  .cut {
    max-height: 400px;
    overflow: hidden;
  }

  .person {
   margin-top: -1.5em;
 }

  .wrapper {
    padding: 1em;
 }

  .email {
    width: 25%;
    padding-left: 15px;
  }

  .instagram {
    width: 25%;
    padding-left: 15px;
  }

  .twitter {
    width: 25%;
    padding-left: 15px;
  }

  .social {
    padding-left: 60px;
    padding-bottom: 20px;
   }


}

@media only screen and (min-width: 35em) {

  .name {
    font-size: 130px;
  }

  .person {
    margin-top: -3em;
  }

  .cut {
    max-height: 450px;
  }

  p {
    font-size: 17px;
  }

  .wrapper {
    padding: 0 2em;
 }

  .social {
    padding-left: 150px;
    padding-bottom: 20px;
   }

   .email {
     width: 20%;
   }

   .instagram {
     width: 20%;
   }

   .twitter {
     width: 20%;
   }



}

@media only screen and (min-width: 46em){

  .person {
    margin-top: -4em;
  }

  .cut {
    max-height: 500px;
    overflow: hidden;
  }

  p {
    padding-left: 45px;
    padding-right: 45px;
  }


  .social {
    padding-left: 200px;
   }

}




@media only screen and (min-width: 60em){

  .name {
    font-size: 250px;
    top: 0.8em;
  }

  p {
    font-size: 19px;
    padding-left: 140px;
    padding-right: 140px;
  }

  .person {
    margin-top: -8rem;
  }

  .cut {
    max-height: 700px;
 }
 .email {
   width: 10%;
 }

 .instagram {
   width: 10%;
 }

 .twitter {
   width: 10%;
 }

 .social {
   padding-left: 480px;
  }
}


@media print {
  .person{
    display: none;
  }

 .name {
   display: none;
 }

   .email {
     width: 10%;
   }

   .instagram {
     width: 10%;
   }

   .twitter {
     width: 10%;
   }

}
