@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.person {
  width: 100%;
  position: relative;
  display: block;
}

p {
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 15px 10px;
  font-size: 16px;

}

.name {
  font-family: 'Yesteryear', cursive;
  font-size: 60px;
  color: #ff6485;
  margin: 0;
  position: absolute;
  top: 3em;
  right: 0.5em;
  display: block;
  text-shadow: 3px 3px #FFF;
}



.social {
  text-align: center;
  padding-bottom: 15px;
}

.instagram {
  width: 50%;
  padding: 10px;
}

.twitter {
  width: 50%;
  padding: 10px;
}

.email {
  width: 50%;
  padding: 10px;
}

@media only screen and (min-width: 25em) {

  .name {
    font-size: 85px;
    top: 3em;
    right: 0.3em;
  }


  .instagram {
    width: 33.33%;
    float: left;
    padding-right: 10px;
  }

  .twitter {
    width: 33.33%;
    float: left;
    padding-right: 10px;
  }

  .email {
    width: 33.33%;
    float: left;
    padding-right: 10px;
  }

  .social {
    display: inline-block;
    margin-left: 5em;
  }
}

@media only screen and (min-width: 35em) {

  .name {
    font-size: 130px;
    top: 3.5em;
    right: 0.1em;
  }

  p {
    font-size: 17px;
    padding: 20px 85px;
  }
  .instagram {
    padding-right: 30px;
  }

  .twitter {
    padding-right: 30px;
  }

  .email {
    padding-right: 30px;
  }

  .social {
    margin-left: 13em;
  }
}

@media only screen and (min-width: 60em) {

  html{
    font-size: 120%;
    line-height: 1.5;
  }

  .name {
    font-size: 280px;
    top: 1.5em;
  }

  .cut {
    height: auto;
    max-height: 900px;
    overflow: hidden;
  }

 .person {
   margin-top: -22em;

 }



  p {
    font-size: 19px;
    padding: 20px 170px;
  }

  .instagram {
    padding-right: 40px;
  }

  .twitter {
    padding-right: 40px;
  }

  .email {
    padding-right: 40px;
  }

  .social {
    margin-left: 22em;
  }

}
