@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

p {
  font-family: 'Noto Serif', serif;
  margin: 0;
}

.name {
  font-family: 'Yesteryear', cursive;
  margin: 0;
}

.instagram {
  width: 50%;
}

.twitter {
  width: 50%;
}

.email {
  width: 50%;
}

.social {
  text-align: center;
}
